:root {
    --brand-color: black;
}

.navbar {
    background-color: var(--brand-color);
}

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

/* allows bootstrap to style Laminas Navigation generated menu items within the navbar */
.navbar li.active a {
    color: var(--bs-navbar-active-color);
}

a.pokemon-card div.card {
    transition: 600ms all;
}

a.pokemon-card:hover div.card {
    background-color: #cccccc;
}